pre {
    background-color: rgba(0,0,0,.04);
    border-radius: 3px;
    font-size: 85%;
    line-height: 1.45;
    overflow: auto;
    padding: 16px;
}

.col-xl-10 li code {
    background-color: rgba(0,0,0,.04);
    border-radius: 3px;
    font-size: 90%;
    margin: 0;
    padding: 0.2em 0;
}

.col-xl-10 p code {
    background-color: rgba(0,0,0,.04);
    border-radius: 3px;
    font-size: 90%;
    margin: 0;
    padding: 0.2em 0;
}

.col-xl-10 h3 code {
    background-color: rgba(0,0,0,.04);
    border-radius: 3px;
    font-size: 90%;
    margin: 0;
    padding: 0.2em 0;
}

.col-xl-10 h2 code {
    background-color: rgba(0,0,0,.04);
    border-radius: 3px;
    font-size: 90%;
    margin: 0;
    padding: 0.2em 0;
}

.col-xl-10 h1 code {
    background-color: rgba(0,0,0,.04);
    border-radius: 3px;
    font-size: 90%;
    margin: 0;
    padding: 0.2em 0;
}

h3 {
    display: block;
    font-size: 1.17em;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
}

.col-xl-10 h1, .col-xl-10 h2, .col-xl-10 h3 {
    border-bottom: 1px solid #eee;
    font-weight: 600;
    line-height: 1.25;
    margin-bottom: 16px;
    margin-top: 24px;
    padding-bottom: 0.3em;
    font-size: 1.3em;
}

.col-xl-10 a {
    color: #4078c0;
    text-decoration: none;
}

.col-xl-10 a:hover {
    cursor: pointer;
    text-decoration: underline;
}

.col-xl-10 blockquote {
    border-left: 0.25em solid #ddd;
    color: #777;
    margin-left: 0;
    padding: 0 1em;
    font-style: italic;
    margin-left: 2em;
}

blockquote>:last-child {
    margin-bottom: 0;
}

blockquote>:first-child {
    margin-top: 0;
}

.col-xl-10 p {
    overflow: scroll;
    
}

.col-xl-10 p::-webkit-scrollbar {
    display: none;
}

.col-xl-10 p {
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
  }